body{

}
.top {
	background: rgb(51, 102, 153);
	height:40%;
}

.bottom {
	background-color: white;
}

.main{
height: 318px;
font-family: arial;
}

.phones{
float:left;
position:relative;
margin:auto 0;
}
.rightBlock{
width: min;
height: 512px;
margin-bottom:30%;
}
.banner{
display:inline;
padding-top:10px;
padding-left:35px;
}

#logIn{
display: inline;
position: absolute;
margin: 30px 0 0 60px;
background: rgb(51, 102, 153);
border-radius: 5px;
color:rgb(236, 242, 249);
}

#house{
	padding-top:2px;
}

.whitebox {
width:60%;
text-align: left;
border:2px black solid;
border-radius:5px;
margin
padding: 0px 40px ;
float:right;
}

h2{
	color:rgb(51, 102, 153);
	font-style: bold;
	padding:30px;
	margin-bottom:0;
}
h3{
	font-size: 14px;
	padding:30px;
	margin-top:0;

}

footer{
	clear:both;
	font-family:arial;
	text-align:center;
	font-size:10px;
}
a {
	color:rgb(51, 102, 153);
}
.appleGoogle{
	text-align:center;
}
#iphone{
	width:169px;
	height:56px;
	border-radius: 5px;
	background-image: url("images/badge-iphone.png")
}
#android {
	width:158px;
	height:56px;
	border-radius: 5px;
	background-image: url("images/badge-android.png")
}



.infoLinks {
	display:inline;
}
#copyTag{
	color:grey;
	display:inline;
}